/*

CSS for the sign up and sign in pages

*/

html {
    background-color: rgb(255, 213, 41);
}

#title {
    font-size: 42px;
    text-align: center;
}

#container {
    background-color: rgba(104, 104, 104, 0.2);
    position: absolute;
    display: block;
    margin-top: 200px;
    z-index: 1;
}

#firebaseui-auth-container {
    width: 300px;
}

