.activity_container {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    width: 300px;
    height: 75px;

}

#wrapper {

    height: 100vh;
    overflow: hidden;

}

.topnav {
    float: top;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#submit {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#search {
    float: left;
}

#logout {
    float: right;
}


#my-map {
    width: 90%;
    height: 50%;
    margin: 10vh auto auto;
}

#main-row {
    width: 65%;
    height: 70vh;
    background-color: #ededed;
    margin: 10vh auto;

}

#personalinfo{
    float: top;
    height: auto;
    text-align: center;
}

#sidebar {
    width: 65%;
    height:auto;
    float:left;
}

#content {
    width: 35%;
    height:auto;
    float: right;
}

#accepted {
    width: 50%;
    height:auto;
    float: left;
}

#pending {
    width: 50%;
    height:auto;
    float:right;
}

.activity_button {
    width: 50px;
    height: 20px;
    background-color: #4a4d51;
}

#settings {
    text-align: center;

}



