<html>

<head>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>


    <script defer src="/static/js/config.js"></script>

    <script defer src="/static/js/friend-page.js"></script>

    <script defer src="/static/js/friends.js"></script>

    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/pills.min.css">

    <title>Friends | WatShout</title>

</head>


<body>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

<div id="wrapper">

    <div class="topnav">

        <a href="/" id="home">Home</a>
        <a id="profile">Profile</a>
        <a id="friends">Friends</a>
        <a id="settings">Settings</a>

        <div id="search-container">

            <input id="search" type="text" placeholder="Search..">
            <button id="submit" type="submit" onclick="askFriend()">Add Friend</button>

        </div>

        <a href="javascript:signOut();" id="logout">Log Out</a>

    </div>

    <div>

        <p style="text-align: center">Friends List</p>

    </div>

    <div id="main-row">

        <div id="pending">
            {% if pending_uid_list %}
                Friend Requests
                {% for item in pending_uid_list %}
                    <p>{{ item|safe }}</p>
                {% endfor %}
            {% else %}
                No pending friend requests
            {% endif %}
        </div>


        <div id="accepted">
            {% if friend_email_list %}
                Friends List
                {% for item in friend_email_list %}
                    <p>{{ item|safe }}</p>
                {% endfor %}
            {% else %}
                <p>No Friends</p>
            {% endif %}
        </div>


    </div>

</div>


</body>

</html>