<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>

    <script defer src="/static/js/config.js"></script>
    <script defer src="/static/js/news-feed.js"></script>

    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/pills.min.css">
    <link rel="stylesheet" href="/static/css/friends-page.css">

    <!-- navigation menu import -->
    <link rel="stylesheet" href="/static/css/nav-menu.css">
    <script src="/static/js/nav-menu.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="icon" href="/static/res/favicon.png" type="image/gif">
    <title>friends page | watshout</title>

</head>

<body>
    <!-- import nav content here -->
        <link rel="import" href="/static/nav-menu.html" id="import-doc">
        <div id="nav-wrapper"></div>
    <!-- end -->
    <div class="friend-search-bar">
        <input id="friend-search-input" type="text" placeholder="Search">
    </div>
    <div class="frequest-container">
        <h5>Friend Requests</h5>
        <!-- for each friend: -->
        <div class="friend-request">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-friend-button">+</button>
        </div>
        <div class="friend-request">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-friend-button">+</button>
        </div>
        <div class="friend-request">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-friend-button">+</button>
        </div>
    </div>
    <div class="fav-list-container">
        <h5>Favorites</h5>
        <!-- for each friend: -->
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="rem-fav-button">v</button>
        </div>
    </div>

    <div class="friend-list-container">
        <h5>Friends</h5>
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
        <div class="fav-friend">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
        <div class="fav-friend-2">
            <img class="fr-image" src="images/default-prof.jpg">
            <div class="fr-name"><a id="name-link" href="/friends-profile/">Friend's Name</a></div>
            <button class="add-fav-button">^</button>
        </div>
    </div>

</body>
</html>
