<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>


    <script defer src="/static/js/config.js"></script>

    <script defer src="/static/js/friends-functions.js"></script>

    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/pills.min.css">

    <title>Friends | WatShout</title>

</head>


<body>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

<div id="wrapper">

    <div class="topnav">

        <a href="/" id="home">Home</a>
        <a href="/me/" id="profile">Profile</a>
        <a href="/me/friends/" id="friends">Friends</a>
        <a href="/me/settings/" id="settings">Settings</a>

        <div id="search-container">

            <input id="search" type="text" placeholder="Search..">
            <button id="submit" type="submit" onclick="askFriend()">Add Friend</button>

        </div>

        {% if my_email %}
        <a href="javascript:signOut();" id="logout">{{ my_email }}</a>
        {% endif %}

    </div>

    <div id="main-row">

        <div id="accepted">
            Friend requests
            <br />

            <div id="friendreplace">

                <!--

                {% for item in friend_links %}
                 {{ item|safe }}
                {% endfor %}
                -->

            </div>

        </div>

        <div id="pending">
            Pending requests
            <br />
        </div>

    </div>

</div>


</body>

</html>