<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>

    <link rel="manifest" href="/static/manifest.json">

    <script defer src="/static/js/config.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyP50TBSm5yugoczwXY4tXpJ_KMtP5Djo"></script>

    <script defer src="/static/js/map_styles.js"></script>
    <script defer src="/static/js/maps.js"></script>
    <script defer src="/static/js/main-app.js"></script>

    <script defer src="/static/js/friends-functions.js"></script>

    <!-- navigation menu import -->
    <link rel="stylesheet" href="/static/css/nav-menu.css">
    <script src="/static/js/nav-menu.js"></script>

    <link rel="stylesheet" href="/static/css/pills.min.css">
    <link rel="stylesheet" href="/static/css/newsfeed.css">

    <link rel="icon" href="/static/res/favicon.png" type="image/gif">

    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <title>watshout</title>

</head>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

{% if has_info %}
    <meta id="has_info" content="{{ has_info }}">
{% endif %}

{% if lat %}
    <meta id="lat" content="{{ lat }}">
{% endif %}

{% if lng %}
    <meta id="lng" content="{{ lng }}">
{% endif %}

<body id="whole-body">

    <!-- Google Map -->
    <div id="map" style="width:100%;height:100%;"></div>

    <!-- import nav content here -->
    <link rel="import" href="/static/nav-menu.html" id="import-doc">
    <div id="nav-wrapper"></div>
    <!-- end -->

    <!-- current runners (expanded); hardcoded -->
    <div id="active-runners-exp" class="all-runners">
        <!--for each active runner-->

        <div class="box">

        </div>

    </div>
    <!-- current runners (condensed); hardcoded -->
    <div id="active-runners-cond" class="all-runners">
        <!--for each active runner-->
        <!-- <div class="runner-circ runner-1"><div class="initials">EH</div></div> -->
    </div>
    <script type="text/javascript">
        //sets initial display to none
        document.getElementById("active-runners-cond").style.display = "none";
        //turns whole tr into link
        jQuery(document).ready(function($) {
            $(".nav-menu-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    </script>


<div id="news-feed-container">
    <!-- loop through each result in news feed query-->
    {% for activity in activities %}

    <div id="nf-item-1" class="news-feed-item">
        <div id="map-item-1" class="nf-image-container">
            <img src="{{ activity["map_link"] }}" class="nf-image">
        </div>
        <div id="data-item-1" class="news-feed-data">
            <div class="nf-prof-box">
                <div><img class="nf-prof-img" src="{{ activity["profile_pic_url"] }}"/></div>
            </div>
            <div class="nf-name-date-box">
                <div class="nf-name-box data-obj">{{ activity["name"] }}</div>
                <div class="nf-date-box data-obj">{{ activity["formatted_date"] }}</div>
            </div>
            <div class="nf-title-box data-obj">{{ activity["event_name"] }}</div>
            <div class="nf-dist-box data-obj">{{ activity["distance"] }}</div>
            <div class="nf-pace-box data-obj">{{ activity["pace"] }}</div>
            <div class="nf-time-box data-obj">{{ activity["time_elapsed"] }}</div>
        </div>
    </div>

    {% endfor %}


</div>

</body>



</html>

