<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-messaging.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>

    <script defer src="/static/js/config.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWobaV5cYUhGJChYDEVro7JVF5299dzz0"></script>

    <script defer src="/static/js/maps.js"></script>
    <script defer src="/static/js/main-app.js"></script>

    <script defer src="/static/js/friends-functions.js"></script>

    <link rel="stylesheet" href="/static/css/pills.min.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <title>WebApp | WatShout</title>

</head>

<body>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

{% if has_info %}
    <meta id="has_info" content="{{ has_info }}">
{% endif %}

<div id="myNav" class="overlay">

  <div class="overlay-content">

      <h2>Input user information</h2>

      <div id="error"></div>

      Age: <input type="text" id="age">

      <br />

      <input id="photo" type='file' />

      <br />

      Please only .png, .jpg, .jpeg

      <br />

      <img id="myImg" src="#" alt="your image" />

      <br />
      <input value="Submit" type="button" onclick="submitForm()">
  </div>

</div>

<div id="wrapper">

    <div class="topnav">

        <a href="/" id="home">Home</a>
        <a href="/me/" id="profile">Profile</a>
        <a href="/me/friends/" id="friends">Friends</a>
        <a href="/me/settings/" id="settings">Settings</a>

        <div id="search-container">

            <input id="search" type="text" placeholder="Search..">
            <button id="submit" type="submit" onclick="askFriend()">Add Friend</button>

        </div>

        {% if my_email %}
        <a href="javascript:signOut();" id="logout">{{ my_email }}</a>
        {% else %}
        <a href="javascript:signOut();" id="logout"></a>
        {% endif %}

    </div>


    <div id="main-content">

        <div id="sidebar">

            <div class="scrollable">
                <div id="devices"></div>
            </div>

        </div>

        <div id="content">

            <div id="map"></div>

        </div>

    </div>

</div>

</body>

</html>
