<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>

    <script defer src="/static/js/config.js"></script>
    <script defer src="/static/js/news-feed.js"></script>

    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/pills.min.css">

    <link rel="icon" href="/static/res/favicon.png" type="image/gif">
    <title>news feed | watshout</title>

</head>
<body>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

    <div class="topnav">

        <a href="/" id="home">Home</a>
        <a href="/feed/" id="feed">Feed</a>
        <a href="/me/" id="profile">Profile</a>
        <a href="/me/friends/" id="friends">Friends</a>

        <div id="search-container">

            <input id="search" type="text" placeholder="Search..">
            <button id="submit" type="submit" onclick="askFriend()">Add Friend</button>

        </div>

        {% if email %}
            <a href="javascript:signOut();" id="logout">{{ email }}</a>
        {% endif %}

    </div>

        <div style="text-align: center;">

            <table>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity['name'] }}</td>
                        <td><img src="{{ activity["image"] }}"/></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

</body>
</html>