<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>

    <script defer src="/watshout-flask/static/js/config.js"></script>
    <script defer src="/watshout-flask/static/js/news-feed.js"></script>

    <link rel="stylesheet" href="/watshout-flask/static/css/profile.css">
    <link rel="stylesheet" href="/watshout-flask/static/css/pills.min.css">

    <link rel="stylesheet" href="NewsFeed.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- jquery & iScroll -->
    <!-- drawer.js -->
    <link rel="icon" href="/watshout-flask/static/res/favicon.png" type="image/gif">
    <title>news feed | watshout</title>

</head>

{% if uid %}
    <meta id="uid" content="{{ uid }}">
{% endif %}

{% if has_info %}
    <meta id="has_info" content="{{ has_info }}">
{% endif %}

{% if lat %}
    <meta id="lat" content="{{ lat }}">
{% endif %}

{% if lng %}
    <meta id="lng" content="{{ lng }}">
{% endif %}


<body id="whole-body">
    <!-- Google Map -->
    <div id="map" style="width:100%;height:100%;"></div>
    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(37.4275, -122.1697),
                zoom: 15,
                //mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControlOptions: {
                    mapTypeIds: []
                }
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgoFIn4pMSsadqDj5adc8V58Ct_MeNjmU&callback=myMap"></script>
    <div id="nav-header">
        <button id="nav-toggle">
        <div class="hamburger"></div><div class="hamburger"></div><div class="hamburger"></div>
        </button>
        <img id="nav-logo" src="/static/res/favicon.png">
        <button id="contacts-toggle"><img id="triangle-icon" src="/triangle-1.png"></button>
    </div>
    <nav id="drawer-nav" role="navigation">
        <table class="nav-menu">
            <tr class="nav-menu-row" data-href="/"><td><a class="nav-menu-item" id="home">Home</a></td></tr>
            <tr class="nav-menu-row" data-href="/feed/"><td><a class="nav-menu-item" id="feed">Feed</a></td></tr>
            <tr class="nav-menu-row" data-href="/me/"><td><a class="nav-menu-item" id="profile">Profile</a></td></tr>
            <tr class="nav-menu-row" data-href="/me/friends/"><td><a class="nav-menu-item" id="friends">Friends</a></td></tr>
        </table>
    </nav>

    <!-- current runners (expanded); hardcoded -->
    <div id="active-runners-exp" class="all-runners">
        <!--for each active runner-->
        <div class="runner-block runner-1">
            <div class="ar-circle"><div id="circ"></div></div>
            <table class="ar-data">
                <tr><td class="ar-name" colspan="2">Name</td><tr>
                <tr>
                    <td class="ar-duration">0:00</td>
                    <td class="ar-heart-rate">90bpm</td>
                </tr>
            </table>
        </div>
        <!--(end loop)-->
        <div class="runner-block runner-2">
            <div class="ar-circle">
                <div id="circ"></div>
            </div>
            <table class="ar-data">
                <tr><td class="ar-name" colspan="2">Name</td><tr>
                <tr>
                    <td class="ar-duration">0:00</td>
                    <td class="ar-heart-rate">90bpm</td>
                </tr>
            </table>
        </div>
        <div class="runner-block runner-3">
            <div class="ar-circle">
                <div id="circ"></div>
            </div>
            <table class="ar-data">
                <tr><td class="ar-name" colspan="2">Name</td><tr>
                <tr>
                    <td class="ar-duration">0:00</td>
                    <td class="ar-heart-rate">90bpm</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- current runners (condensed); hardcoded -->
    <div id="active-runners-cond" class="all-runners">
        <!--for each active runner-->
        <div class="runner-circ runner-1"><div class="initials">EH</div></div>
    </div>
    <script type="text/javascript">
        //sets initial display to none
        document.getElementById("active-runners-cond").style.display = "none";
        //turns whole tr into link
        jQuery(document).ready(function($) {
            $(".nav-menu-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    </script>

<div id="news-feed-container">
    <!-- loop through each result in news feed query-->
    <div id="nf-item-1" class="news-feed-item">
        <div id="map-item-1" class="nf-image-container">
            <img src="images/finished.png" class="nf-image">
        </div>
        <div id="data-item-1" class="news-feed-data">
            <div class="nf-prof-box">
                <div class="nf-prof-img">prof</div>
            </div>
            <div class="nf-name-date-box">
                <div class="nf-name-box data-obj">Name</div>
                <div class="nf-date-box data-obj">Date</div>
            </div>
            <div class="nf-title-box data-obj">Title</div>
            <div class="nf-dist-box data-obj">Distance</div>
            <div class="nf-pace-box data-obj">Pace</div>
            <div class="nf-time-box data-obj">Time</div>
        </div>
    </div>
    <div id="nf-item-2" class="news-feed-item">
        <div id="map-item-2" class="nf-image-container">
            <img src="images/finished.png" class="nf-image">
        </div>
        <div id="data-item-2" class="news-feed-data">
            <div class="nf-prof-box">
                <div class="nf-prof-img">prof</div>
            </div>
            <div class="nf-name-date-box">
                <div class="nf-name-box data-obj">Name</div>
                <div class="nf-date-box data-obj">Date</div>
            </div>
            <div class="nf-title-box data-obj">Title</div>
            <div class="nf-dist-box data-obj">Distance</div>
            <div class="nf-pace-box data-obj">Pace</div>
            <div class="nf-time-box data-obj">Time</div>
        </div>
    </div>
    <div id="nf-item-3" class="news-feed-item">
        <div id="map-item-3" class="nf-image-container">
            <img src="images/finished.png" class="nf-image">
        </div>
        <div id="data-item-3" class="news-feed-data">
            <div class="nf-prof-box">
                <div class="nf-prof-img">prof</div>
            </div>
            <div class="nf-name-date-box">
                <div class="nf-name-box data-obj">Name</div>
                <div class="nf-date-box data-obj">Date</div>
            </div>
            <div class="nf-title-box data-obj">Title</div>
            <div class="nf-dist-box data-obj">Distance</div>
            <div class="nf-pace-box data-obj">Pace</div>
            <div class="nf-time-box data-obj">Time</div>
        </div>
    </div>
</div>
<!--
<main role="main">

    <div style="text-align: center;">

        <table>
            {% if activities %}
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity['name'] }}</td>
                        <td><img src="{{ activity["image"] }}"/></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Your friends have no previous activities</p>
            {% endif %}
        </table>
    </div>
</main>
-->
</body>

</html>
