<html>

    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- The order in which these load is important -->
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>

        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWobaV5cYUhGJChYDEVro7JVF5299dzz0"></script>

        <script defer src="/static/js/config.js"></script>
        <script defer src="/static/js/profile-page.js"></script>

        <script defer src="/static/js/friends-functions.js"></script>

        <link rel="stylesheet" href="/static/css/profile.css">
        <link rel="stylesheet" href="/static/css/pills.min.css">

        <title>{{ name }} | WatShout</title>

    </head>

    <body>

        <!-- Stores UID for easy access by profile-page.js -->
        {% if uid %}
            <meta id="uid" content="{{ uid }}">
        {% endif %}

        {% if activity_ids %}
            <meta id="activity_ids" content="{{ activity_ids }}">
        {% endif %}

        <div id="wrapper">

            <div class="topnav">

            <a href="/" id="home">Home</a>
            <a href="/me/" id="profile">Profile</a>
            <a href="/me/friends/" id="friends">Friends</a>
            <a href="/me/settings/" id="settings">Settings</a>

                <div id="search-container">

                    <input id="search" type="text" placeholder="Search..">
                    <button id="submit" type="submit" onclick="askFriend()">Add Friend</button>

                </div>

                {% if email %}
                    <a href="javascript:signOut();" id="logout">{{ email }}</a>
                {% endif %}

            </div>

            <div id="main-row">

                <div id="personalinfo">

                    {% if name %}
                        <h1>{{ name }}</h1>
                    {% endif %}

                    {% if email %}
                        <h3>{{ email }}</h3>
                    {% endif %}


                    {% if strava_token %}
                        {% if strava_token == 'no' %}

                            <div id="strava_info">

                                <a href="strava/login" >Login to Strava!</a>

                            </div>

                            {% else %}

                                <div id="strava_info">

                                    <a id="unlink" href="#" onclick="unlinkStrava()">Un-link Strava account</a>

                                </div>

                        {% endif %}
                    {% endif %}


                </div>

                <div id="sidebar">

                    <div id="my-map"></div>

                </div>

                <div id="content"></div>

            </div>


        </div>

    </body>

</html>
