<!DOCTYPE html>
<html lang="en">
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-storage.js"></script>
     <script defer src="/static/js/config.js"></script>
     <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/pills.min.css">
     <link rel="stylesheet" href="/static/css/profile-page.css">
     <!-- navigation menu import -->
    <link rel="stylesheet" href="/static/css/nav-menu.css">
    <script src="/static/js/nav-menu.js"></script>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="icon" href="/static/res/favicon.png" type="image/gif">
    <title>profile | watshout</title>
 </head>
 <body>
    <!-- import nav content here -->
    <link rel="import" href="/static/nav-menu.html" id="import-doc">
    <div id="nav-wrapper"></div>
    <!-- end -->

    {% if user_info %}

    <div class="profile-header">
        <div class="prof-image-container placeholder">
            <img class="prof-picture" src="{{ user_info["profile_pic_url"] }}">
        </div>
        <div class="prof-name placeholder">{{ user_info["name"] }}</div>
        <div class="prof-email placeholder">{{ user_info["email"] }}</div>
        <div class="prof-edit placeholder"><a href="/me/edit" class="edit-prof-button">Edit Profile</a></div>
        <div class="prof-friends placeholder prof-data">{{ user_info["friend_count"] }}</div>
        <div class="prof-distance placeholder prof-data">{{ user_info["total_distance"] }}km</div>
        <div class="total-activity placeholder prof-data">{{ user_info["activity_count"] }}</div>
    </div>

    {% else %}
    <p>Something went wrong</p>
    {% endif %}

    <script>
        jQuery(document).ready(function($) {
            $(".edit-prof-button").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

    {% if user_info %}
    <img id="most-recent-activity" src="{{ user_info["latest_activity"] }}">
    {% endif %}
</body>
<footer>
=
</footer>
</html>