<html>
<head>

    <!-- The order in which these load is important -->
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>

    <script defer src="/static/js/config.js"></script>
    <script defer src="/static/js/strava-auth-check.js"></script>

    <title>strava | watshout</title>

</head>
<body>

        {% if uid %}
        <meta id="uid" content="{{ uid }}">
        {% endif %}

        {% if token %}
        <meta id="token" content="{{ token }}">
        {% endif %}

    <div id="text"></div>

</body>
</html>