<html>

    <head>

        <!-- The order in which these load is important -->
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-database.js"></script>

        <script defer src="/static/js/config.js"></script>
        <script defer src="/static/js/profilePage.js"></script>

        <link rel="stylesheet" href="/static/css/pills.min.css">

        <title>Hello from Flask</title>

    </head>

    <body>

        {% if uid %}
        <meta id="uid" content="{{ uid }}">
        {% endif %}

        <div class="row">

            <div class="two columns">

            </div>

            <div class="eight columns">

                   {% if name %}
                    <h1>Profile page for: {{ name }}!</h1>
                    {% endif %}

                    {% if email %}
                    <h3>Email address is: {{ email }}</h3>
                    {% endif %}

                    <input type="button" value="Go back" onclick="goBack()">

            </div>

            <div class="two columns">

            </div>

        </div>

    </body>

</html>