<html>

    <head>

        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>

        <script defer src="/static/js/config.js"></script>
        <script defer src="/static/js/auth-check.js"></script>

        <link rel="stylesheet" href="/static/css/pills.min.css">

        <title>User Doesn't Exist</title>

    </head>

    <body>

        <div class="row">

            <div class="two columns">

            </div>

            <div class="eight columns">

                   <h2>The UID: {{ uid }} does not exist</h2>

            </div>

            <div class="two columns">

            </div>

        </div>

    </body>

</html>